---
import BaseLayout from "@/layouts/BaseLayout.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import "zenn-content-css";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { slug: post.id },
        props: post,
    }));
}

const post = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={`${post.data.title}`} description={post.data.description}>
    <div class="container py-8">
        <article class="znc max-w-[40rem]">
            <h1>{post.data.title}</h1>
            <p><FormattedDate date={post.data.pubDate} /></p>
            <Content />
        </article>
    </div>
</BaseLayout>