---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { buttonVariants } from "@/components/ui/button";
---

<BaseLayout title="サーバーエラーが発生しました" description="サーバーでエラーが発生しました。しばらくしてから再度お試しください。">
    <div class="container grid min-h-full bg-white py-24 sm:py-32">
        <div class="sm:text-center">
            <p class="text-base font-semibold text-zinc-600">500</p>
            <h1
                class="mt-2 text-[clamp(1rem,0.818rem+0.91dvw,1.5rem)] font-semibold tracking-tight text-balance text-zinc-900"
            >
                サーバーエラーが発生しました
            </h1>
            <p class="mt-6 text-sm font-medium text-pretty text-zinc-500">
                サーバーでエラーが発生しました。しばらくしてから再度お試しください。
            </p>
            <div class="mt-8">
                <a
                    href="/"
                    class={buttonVariants({ variant: "secondary", size: "lg" })}
                >
                    ホームに戻る
                </a>
            </div>
        </div>
    </div>
</BaseLayout>
