---
import { SITE_TITLE } from "@/consts";
---

<footer class="sticky top-full border-t">
    <div class="container">
        <p class="text-center py-3 text-dns-14N-120">&copy; {new Date().getFullYear()} {SITE_TITLE}</p>
    </div>
</footer>