---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
    title?: string;
    description?: string;
    image?: string;
    headerPosition?: "sticky" | "fixed";
}

const { title, description, image, headerPosition } = Astro.props;
---

<!doctype html>
<html lang="ja">
    <head>
        <BaseHead title={title} description={description} image={image} />
    </head>
    <body>
        <div class="site-wrapper">
            <Header headerPosition={headerPosition} />
            <main>
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>
